:root {
    --bs-body-font-family: "Geologica", sans-serif;
}

.start-animation-rise {
    animation: 500ms ease animation-rise;
}

.start-animation-fade {
    animation: 500ms ease animation-fade;
}

@keyframes animation-rise {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes animation-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
